---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=47.608847245574%2C-122.333854660392%2C%2C%2C&category_filter=aquariums%2Cbasketballcourts%2Cbeaches%2Cbowling%2Cboating%2Cclimbing%2Cgokarts%2Cgun_ranges%2Chiking%2Chorsebackriding%2Chot_air_balloons%2Clakes%2Clasertag%2Cmini_golf%2Cpaintball%2Cparks%2Crecreation%2Cskatingrinks%2Cskydiving%2Cswimmingpools%2Ctennis%2Czoos%2Carcades%2Cgalleries%2Cgardens%2Cmovietheaters%2Cjazzandblues%2Cmuseums%2Cmusicvenues%2Cobservatories%2Copera%2Ctheater%2Cplanetarium%2Cpsychic_astrology%2Cspas%2Cmassage%2Cfarmersmarket%2Ctea%2Ctours%2Cpoolhalls%2Ckaraoke%2Clibraries%2Clandmarks%2Cbookstores%2Cfleamarkets%2Cvintage%2Cantiques&sort=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CSL-X8Q5F6gYNeGO38crvg", oauth_nonce="b8c7ac7ee778f8f188f8e67872e8318f",
        oauth_signature="Riurwpb%2BQgun%2B1ToBfshoI6QsgA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1423524696", oauth_token="qEpO3668P19wjIB-1uzHIxGqkdd-7wwC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-node:
      - web4-r1-sfo2, api_com
      content-type:
      - application/json; charset=UTF-8
      x-mode:
      - ro
      x-proxied:
      - extlb2-r5-sfo2
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.0076239384100063035, "longitude_delta":
        0.0090557134855089316}, "center": {"latitude": 47.608271173449999, "longitude":
        -122.33624345440249}}, "total": 40, "businesses": [{"is_claimed": true, "distance":
        7.0689339192292477, "mobile_url": "http://m.yelp.com/biz/the-5th-avenue-theatre-seattle",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 127, "name": "The 5th Avenue Theatre", "snippet_image_url":
        "http://s3-media4.fl.yelpcdn.com/photo/MFXmEhbXxyBgV3QFRv-rtg/ms.jpg", "rating":
        4.5, "url": "http://www.yelp.com/biz/the-5th-avenue-theatre-seattle", "location":
        {"cross_streets": "University St \u0026 Union St", "city": "Seattle", "display_address":
        ["1308 5th Ave", "Downtown", "Seattle, WA 98101"], "geo_accuracy": 8.0, "neighborhoods":
        ["Downtown"], "postal_code": "98101", "country_code": "US", "address": ["1308
        5th Ave"], "coordinate": {"latitude": 47.608847245573997, "longitude": -122.33385466039201},
        "state_code": "WA"}, "phone": "2066251418", "snippet_text": "I have been to
        the 5th Avenue theater a couple of different times and most recently I went
        for a christmas story.  The theater is a really beautiful and...", "image_url":
        "http://s3-media1.fl.yelpcdn.com/bphoto/nRgf5r8GGbWoP54_BDgmwQ/ms.jpg", "categories":
        [["Performing Arts", "theater"], ["Cinema", "movietheaters"]], "display_phone":
        "+1-206-625-1418", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "the-5th-avenue-theatre-seattle", "is_closed": false, "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png"},
        {"is_claimed": true, "distance": 93.463622358669994, "mobile_url": "http://m.yelp.com/biz/seattle-bites-food-tours-seattle",
        "rating_img_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 32, "name": "Seattle Bites Food Tours", "snippet_image_url":
        "http://s3-media3.fl.yelpcdn.com/photo/I63TyeOl[...]
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=47.608847245574%2C-122.333854660392%2C%2C%2C&category_filter=aquariums%2Cbasketballcourts%2Cbeaches%2Cbowling%2Cboating%2Cclimbing%2Cgokarts%2Cgun_ranges%2Chiking%2Chorsebackriding%2Chot_air_balloons%2Clakes%2Clasertag%2Cmini_golf%2Cpaintball%2Cparks%2Crecreation%2Cskatingrinks%2Cskydiving%2Cswimmingpools%2Ctennis%2Czoos%2Carcades%2Cgalleries%2Cgardens%2Cmovietheaters%2Cjazzandblues%2Cmuseums%2Cmusicvenues%2Cobservatories%2Cope[...]
