/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require font-awesome
 */

body {
  background: #f7f7f7;
  padding: 0;
}

#add-con-mob {
  display: none;
}
.hr-thing {
  margin: 0;
  padding: 0;
  // margin-top: -75px;
  margin-top :-55px;
}

#details div {
  display: none;
}

.name-div {
  display: block !important;
}

.link-cursor {
  cursor: pointer;
}

#wtf {
  font-size: 7em;
  color: #CFD11A;
  width: 70px;
}
#address-section {
  top: -100%;
  background: #f7f7f7;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#loading {
   background: #f7f7f7;
}
#address-submit {
  // padding: 10px;
  font-family: 'Canterell';
  width: 400px;
  background: pink;
}

.field {
  // background: red;
  display: inline-block;
  margin: 0;
  font-family: 'Canterell';
  // margin-left: 70px;
}

.actions input {
  border: none;
  display: inline-block;
  margin: 0;
  padding: 11px;
  margin-left: -5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: 'Paytone One';
  font-size: 1.05em;
  background: #CFD11A;
  color: dimgrey;
  // font-size: 1.1em;
  // font-family: 'Paytone One';
  // font-size: .9em;
}

.actions{
  display: inline-block;
  margin: 0;
  margin-left: 0px;
  }
#address {
  margin: 0;
  border: none;
  width: 280px;
  padding: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family: 'Cantarell';
  background: white;
  color: black;
}

#add-con {
  width: 370px;
}
#details {
  margin: 0;
}

#show-con {
  margin: 0;
  padding: 0;
}
.place-desc {
  padding: 30px;
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  color: dimgrey;
}

#details a {
  color: #CFD11A;
  // font-family: 'Paytone One';
  font-size: 1.8em;
  text-align: center;
  // width: 48%;
}

.yg {
  width: 48%;
  margin-bottom: 20px;
}

#details div {
  padding: 0;
}

#go-link {
  background: dimgrey;
  display: block;
  color: white;
  width: 180px;
  text-align: center;
  border-radius: 25px;
  padding: 8px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
}

#go-link:hover {
  background: lightgrey;
}
.link-text {
  font-family: 'Paytone One';
  color: dimgrey;
}

.link-text:hover {
  font-family: 'Paytone One';
  color: lightgrey;
}

.go-text {
  font-family: 'Paytone One';
  color: white;
}
.show-icon {
  color: black;
  font-size: 1.6em;
  // margin: 15px;
}

.show-icon:hover {
  color: #CFD11A;
  text-decoration: none;
}

// .name-div {
//   width: 100vw;
//   margin: 0;
//
// }
.place-name {
  font-size: 3em;
  text-align: center;
  // margin-top: -50px;
}
.section-heading {
  /*top: 0px;*/
}

#photo-link {
  display: none;
}

#road {
  font-size: .95em;
  /*z-index: 100;*/
  /*position: relative;*/
  /*z-index: 2;*/
}

.lilycate {
  margin: 0;
  margin-bottom: 20px;
}

.row {
  margin: 0;
  padding: 0;
}

.phot {
  width: 350px;
  height: 350px;
}
#lilgreen {
  width: 15px;
  height: 29px;
  background: #CFD11A;
  margin-top: -35px;
  margin-left:15px;
}

#lilroad {
  /*position: relative;*/
  /*z-index: 20;*/
  /*z-index: 10;*/
  opacity: .99;
}

#white-div {
  width: 12px;
  height: 23px;
  background: white;
  /*position: absolute;*/
  margin-top: -28px;
  margin-left:10px;
  /*z-index: -2;*/
  /*z-index: 1;*/

}

#land-link {
  color: dimgrey;
  font-size: 2.5em;
  margin-left: 10px;
  margin-top: 25px;
}
#green {
  background: #CFD11A;
  /*position: absolute;*/
  width: 30px;
  height :76px;
  /*margin-left: 450px;
  margin-top: 32px;*/
  margin-top: -91px;
  margin-left:40px;
  /*z-index: 1;*/

}

#nav-con {
  top: 0;
  margin-top: 0;
}
#my-nav {
  padding: 2px;
  font-family: 'Cantarell';
  position: fixed;
  margin: 0;
  // box-shadow: 2px 3px 8px lightgrey;
  // box-shadow: none;
}

.tag2 {
  margin-bottom: 70px;
  margin-top: 30px;
  font-size: 1.15em;
}
section {
  padding-top: 100px;

}
#landing {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  margin-top: 0;
  // margin-top: -20px;
  padding-top: 0;
  padding: 0;
  background: image-url('sky2.jpg');
  // background-size: 110%;
  height: 100vh;
  /*z-index: -40;*/
}
#howitworks {
  background: #f7f7f7;
  top: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#team {
  top: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#photo-slides {
    top: -100%;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #f7f7f7;
}

#enter-ad {
  color: dimgrey;
}
#photo-con {
  /*height :100vh;
  overflow: hidden;*/
  margin-top: -42px;
}
body {
  font-family: 'Cantarell', sans-serif;
}

#logo {
  margin-top: 100px;
  font-size: 7em;
}


#all div img {
  /*width: 70%;
  height: 90%;*/
  width: 570px;
  height: 570px;
}

#all {
  height: 570px;
  width: 570px;
  // padding: 15px;
  background-color: white;
}
.center-block {
color:#ec8007
}

#left-g-d, #right-g-d {
  height: 600px;
  /*width: 40px;*/
  /*position: absolute;*/
}

.can {
  font-family: 'Cantarell', sans-serif;
}
.pay {
  font-family: 'Paytone One', sans-serif;
}


#left-g, #right-g {
  margin: 280px 0 300px 0;
  font-size: 4em;
}

#left-g {
  float: right;
}

#right-g {
  float: left;
}

.lime {
  color: #CFD11A;
}

.lime-b {
  color: #CFD11A;
}

.dk-grey {
  color: #595959;
}

.dk-grey-b{
  background: #595959;
}

.button {
  text-align: center;
}

#go {
  border-radius: 20px;
  padding: 10px;
  width: 100px;

}

.button:hover {
  text-decoration: none;
  color: darkgrey;
}

#learn {
  margin-top: 30px;
  // margin-bottom: 30px;
  font-size: 1.4em;
  color: dimgrey;
}

#click {
  margin-top : 25px;
  /*z-index: 50;*/
  position: relative;
}

#click:hover {
  background: dimgrey;
  color: #CFD11A;
}

#landing-con {
  /*z-index :-5;*/
  /*margin-top :-50px;*/
  // padding-top: 90px;
  margin: 0;
  height: 100vh;
  height: 100%;
  width: 70vw;
  background: rgba(255, 255, 255, .8);
}

.gly-div {
  width: 190px;
  padding: 10px;
}

.gly {
  font-size: 2em;
  border-radius: 30px;
  border: none;
  box-shadow: none;
  background: #CFD11A;
  text-shadow: none;
  color: dimgrey;
}

#team {
  /*width: 100%;*/

}

#my-body {
  /*width: 100%;*/
  /*margin: 0;
  padding: 0;*/

}

.container {
  margin: 0;
  width: 100%;
}

.big-gly {
  color: green;
}

#twi, #lin, #git {
  color: green;
}

@media (max-width: 1000px) {
  #all {
    width: 540px;
    height: 540px;
  }

  #all div img {
    height: 540px;
    width: 540px;
    // padding: 10px;
  }

  #left-g, #right-g {
    margin: 240px 0 260px 0;
    font-size: 4em;
  }

}

@media (max-width: 768px) {

  #add-con {
    display: none;
  }

  #add-con-mob {
    display: block;
  }


  #add-con-mob #address {
    border-radius: 25px;
    // width: 200px;
    display: block;
    // margin: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #add-con-mob .actions {
    display: block;
    // width: 200px;
    margin: 0 auto;
  }



  #add-con-mob .actions input {
    border: none;
    display: block;
    margin: 0 auto;
    padding: 11px;
    border-radius: 25px;
    font-family: 'Paytone One';
    font-size: 1.05em;
    background: #CFD11A;
    color: dimgrey;
    // font-size: 1.1em;
    // font-family: 'Paytone One';
    // font-size: .9em;
  }
  .place-name {
    // margin-top: 35px;
    font-size: 2em;
    // margin-top: -50px;
  }

  .place-description {
    margin-top: 30px;
    text-align: center;
  }
  #left, #right {
    display: none;
  }
  #all {
    width: 90vw;
    padding: 0;
    background: white;

  }
  #landing {
    padding: 0;
    background: image-url('sky3.jpg');
    background-size: 80vh;
  }

  #middle {
    padding: 0;
    margin-top: 55px;
  }

  #photo-slides {
    padding: 0;
  }

  #photo-con {
    padding: 0;
  }

  #all div img {
    width :100%;
    height: auto;
    padding: 0;
    margin-top: 10px;
  }

  #all {
    // margin-top: 30px;
    width: 100vw;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #landing-con {
    width: 100%;
    // height: 120%;
  }

  hr {
    // margin-top: -10px;
    display: none;
  }

  .place-name {
    // margin-top: 30px;
  }

  #logo {
    margin-top: 40px;
  }

  .place-desc {
    // margin-top: 100px;
  }

  .name-div {
    display: block;
    height: 180px;
    // background: pink;
  }

  .rediscover {
    font-size: 1.3em;
    margin: 0;
  }

  #click {
    margin: 0;
  }

  #learn {
    margin: 0;
  }

  .phot {
    width: 250px;
    height: 250px;
  }
}
