HELLO YOUR LINK WORKED
<span style ="color:pink"><%= @bus %></span>
<% @data.businesses.each do |b| %>
  <span style ="color:blue"><%= b.name %></span>

<%end%>

<% @bus.each do |t| %>
  <span style ="color:red"><%= InstagramRequester.find_location(t) %></span><br>
<%end%>
<!-- <% @bus.each do |b| %>
  <%= image_tag(InstagramRequester.find_location(b)) %>
<%end%> -->

<!-- .images.standard_resolution.url -->
