HELLO YOUR LINK WORKED
<span style ="color:pink">
  LAT: <%= @lat %>
  LONG: <%= @long %>
</span>

<div id = "all">
  <% @photo_hash.each do |inner_hash| %>
      <% url = inner_hash.keys.first %>
      <div class = "row"><div id =<%= url %> class = <%= @photo_hash[url] %> ></div></div>
  <% end %>
</div>
