HELLO YOUR LINK WORKED
<span style ="color:pink"><%= @bus %></span>
<% @data.businesses.each do |b| %>
  <span style ="color:blue"><%= b.name %></span>

<% end %>


<% @photo_urls.each do |url| %>
  <%= image_tag(url) %>
<% end %>
